<template name="accountsModal">
  <div id="accountsModal" class="ui compact modal">
    <div class="content attached">
      {{#if isLogin type}}
        {{> loginContent}}
      {{else if isSignup type}}
        {{> signupContent}}
      {{/if}}
    </div>
    {{> message login=isLogin}}
    <div class="actions">
      <div class="ui left floated button cancel">Volver</div>
      <div class="ui teal login button ok">
        {{#if isLogin type}}
        Iniciar sesión
        {{else}}
        Registrarse
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="message">
  <div class="ui bottom attached warning message">
    {{#if login}}
    <center>¿Eres nuevo en Meetin?<br> Haz clic <a href="#" class="toggle modal">aquí</a> para crear una cuenta.</center>
    {{else}}
    <center>¿Ya te registraste?<br> Haz clic <a href="#" class="toggle modal">aquí</a> para iniciar sesión.</center>
    {{/if}}
  </div>
</template>

<template name="loginContent">
  <h2 class="ui centered header">Inicia sesión</h2>
  <div class="ui error message hidden">
    <center>No reconocemos estos datos. Por favor intenta de nuevo.</center>
  </div>
  <form class="ui login form">
    <div class="field">
      <input type="text" name="login-email" placeholder="Correo electrónico">
      {{#if notMail}}
      <div class="ui pointing red label">
        Por favor ingresa un correo electrónico.
      </div>
      {{else unless mailValid}}
      <div class="ui pointing red label">
        Este no es un correo electrónico válido.
      </div>
      {{/if}}
    </div>
    <div class="field">
      <input type="password" name="login-pass" placeholder="Contraseña">
      {{#if notPass}}
      <div class="ui pointing red label">
        Por favor ingresa una contraseña.
      </div>
      {{/if}}
    </div>
  </form>
</template>

<template name="signupContent">
  <div class="content">
    <h2 class="ui centered header">Registrarse</h2>
    <!-- ¿Has venido antes por aquí?
    <a href="#"><button class="ui login button">Iniciar sesión</button></a> -->
    <form class="ui signup form">
      <div class="field">
        <input type="text" name="signup-name" placeholder="Nombre y Apellido">
        {{#if notName}}
        <div class="ui pointing red label">
          Por favor ingresa tu nombre.
        </div>
        {{/if}}
      </div>
        <div class="field">
          <input type="text" name="signup-email" placeholder="Correo electrónico">
          {{#if notMail}}
          <div class="ui pointing red label">
            Por favor ingresa un correo electrónico.
          </div>
          {{else unless mailValid}}
          <div class="ui pointing red label">
            Este no es un correo electrónico válido.
          </div>
          {{/if}}
        </div>
      <div class="field">
        <input type="password" name="signup-pass" placeholder="Nueva contraseña">
        {{#if notPass}}
        <div class="ui pointing red label">
          Por favor ingresa una contraseña.
        </div>
        {{/if}}
      </div>
      <!-- <div class="field">
        <input type="password" name="signup-conf" placeholder="Confirma la contraseña">
        {{#if notConf}}
        <div class="ui pointing red label">
          Por favor ingresa la contraseña de confirmación.
        </div>
        {{/if}}
      </div> -->
    </form>
  </div>
</template>
