<template name="imageUpload">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    {{#each previewSrc}}
      <div class="ui small bordered rounded image">
        <a class="ui right corner remove label">
          <i class="remove icon"></i>
        </a>
        <img class="preview" src="{{this}}" alt="">
      </div>
    {{/each}}
    <br>
    <input class="fileinput" id="imageInput" type="file" name="image" multiple="multiple" accept="image/*"/>
    <label for="imageInput" class="ui dark-blue button">
      <i class="camera icon"></i>
      {{#with label}}
        {{this}}
      {{else}}
        {{labelName}}
      {{/with}}
    </label>
    <!-- <div class="">

    </div> -->
  {{/with}}
</template>
