<template name="navbar">
  <div id="mainNav" class="ui top fixed menu">
    <a href="/" class="item">
      <h3 class="ui header">Meetin</h3>
    </a>
    <div class="right menu">
      {{#if currentUser}}
      <a class="ui item">
        <div class="ui icon input">
          <input type="text" placeholder="Buscar...">
          <i class="search icon"></i>
        </div>
      </a>
      <a class="ui logout item">
        Cerrar sesión
      </a>
      {{else}}
      <a class="ui item">
        {{> loginButton}}
      </a>
      <a class="ui item">
        {{> signupButton}}
      </a>
      {{/if}}
    </div>
  </div>
</template>
