<template name="signupModal">
  <div id="signupModal" class="ui modal">
    <div class="content">
      <h2 class="ui centered header">Registrarse</h2>
      <form class="ui signup form">
        <div class="field">
          <input type="text" name="signup-name" placeholder="Nombre y Apellido">
        </div>
        <div class="field">
          <input type="email" name="signup-email" placeholder="Correo electrónico">
        </div><div class="field">
          <input type="password" name="signup-pass" placeholder="Nueva contraseña para Meetin">
        </div><div class="field">
          <input type="password" name="signup-confirm" placeholder="Confirma la contraseña">
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui left floated button cancel">Volver</div>
      <div class="ui teal button ok">Registrarse</div>
    </div>
  </div>
</template>
