<template name="signupModal">
  <div id="signupModal" class="ui compact modal">
    <div class="content">
      <h2 class="ui centered header">Registrarse</h2>
      <!-- ¿Has venido antes por aquí?
      <a href="#"><button class="ui login button">Iniciar sesión</button></a> -->
      <form class="ui signup form">
        <div class="field">
          <input type="text" name="signup-name" placeholder="Nombre y Apellido">
          {{#if notName}}
          <div class="ui pointing red label">
            Por favor ingresa tu nombre.
          </div>
          {{/if}}
        </div>
          <div class="field">
            <input type="text" name="signup-email" placeholder="Correo electrónico">
            {{#if notMail}}
            <div class="ui pointing red label">
              Por favor ingresa un correo electrónico.
            </div>
            {{else unless mailValid}}
            <div class="ui pointing red label">
              Este no es un correo electrónico válido.
            </div>
            {{/if}}
          </div>
        <div class="field">
          <input type="password" name="signup-pass" placeholder="Nueva contraseña">
          {{#if notPass}}
          <div class="ui pointing red label">
            Por favor ingresa una contraseña.
          </div>
          {{/if}}
        </div>
        <!-- <div class="field">
          <input type="password" name="signup-conf" placeholder="Confirma la contraseña">
          {{#if notConf}}
          <div class="ui pointing red label">
            Por favor ingresa la contraseña de confirmación.
          </div>
          {{/if}}
        </div> -->
      </form>
    </div>
    <div class="actions">
      <div class="ui left floated button cancel">Volver</div>
      <div class="ui teal button ok">Registrarse</div>
    </div>
  </div>
</template>
