<template name="signupModal">
  <div id="signupModal" class="ui modal">
    <div class="content">
      <h3>Registrarse</h3>
      <form class="ui signup form">
        <div class="field">
          <label>Nombre</label>
          <input type="text" name="signup-name" placeholder="Tu nombre">
        </div>
        <div class="field">
          <label>Correo</label>
          <input type="email" name="signup-email" placeholder="Un correo electrónico">
        </div><div class="field">
          <label>Contraseña</label>
          <input type="password" name="signup-pass" placeholder="Tu contraseña">
        </div><div class="field">
          <label>Confirmar contraseña</label>
          <input type="password" name="signup-confirm" placeholder="Repite tu contraseña">
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui button cancel">Cancel</div>
      <div class="ui button ok">OK</div>
    </div>
  </div>
</template>
