<template name="userNavbar">
  <!-- <a class="ui item">
    <div class="ui icon input">
      <input type="text" placeholder="Buscar...">
      <i class="search icon"></i>
    </div>
  </a>
  <a class="ui thumbnail item">
    <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg">
    <a href="/users/{{currentUser._id}}">{{getUserName}}</a>
  </a>
  <a class="ui add item">
    <i class="big add circle icon"></i>
  </a> -->
  <a class="ui options pointing dropdown item">
    <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg">
    {{getUserName}} <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/users/{{currentUser._id}}">Mi perfil</a>
      <div class="logout item">Cerrar sesión</div>
    </div>
  </a>
</template>
