<template name="workshopCard">
  <a class="ui card" href="/workshops/{{id}}">
  <div class="content">
    <div class="header">{{getWorkshopName}}</div>
    <div class="meta">
      <span class="category">Taller</span>
    </div>
    <div class="description">
      <p>Esta es una descripción del evento.</p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <a href="/users/{{getOwnerId}}">
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg">
        {{getOwnerName}}
      </a>
    </div>
  </div>
</a>
</template>
