<template name="workCreateButton">
  <button class="ui light red orange create workshop button">Crear taller</button>
  {{> workCreateModal}}
</template>

<template name="workCreateModal">
  <div id="modalView" class="ui modal">
    <div class="content">
      <h3>Crear un taller</h3>
      <form class="ui workshop form">
        <div class="field">
          <label>Nombre</label>
          <input type="text" name="work-name" placeholder="Nombre">
        </div>
        <div class="field">
          <label>Dirección</label>
          <input type="text" name="work-addr" placeholder="Dirección">
        </div>
        <div class="field">
          <label>Precio</label>
          <input type="number" name="work-price" placeholder="Precio">
        </div>
        <div class="field">
          <label>Añade una descripción de tu evento</label>
          <textarea name="work-desc" rows="8" cols="80" placeholder="Descripción..."></textarea>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui button cancel">Cancel</div>
      <div class="ui button ok">OK</div>
    </div>
  </div>
</template>
