<template name="workshopInfoEdit">
  {{#with workshop}}
  <div class="ui relaxed list">
    <!-- Dirección -->
    <div class="item">
      {{#unless isEditingAddr}}
        <i class="home icon"></i>
        <div class="content">
          {{addr}}
          <a href="#"><i class="small edit addr icon"></i></a>
        </div>
      {{else}}
        <!-- Edit input -->
        <div class="ui edit action input">
          <input type="text" name="wedit-addr" value="{{addr}}"/>
          <button class="ui teal icon save addr button"><i class="check icon"></i></button>
        </div><br>
      {{/unless}}
    </div>
    <!-- Precio -->
    <div class="item">
      {{#unless isEditingPrice}}
        <i class="dollar icon"></i>
        <div class="content">
          {{price}}
          <a href="#"><i class="small edit price icon"></i></a>
        </div>
      {{else}}
        <!-- Edit input -->
        <div class="ui edit action input">
          <input type="number" name="wedit-price" value="{{price}}" min="0" step="100"/>
          <button class="ui teal icon save price button"><i class="check icon"></i></button>
        </div><br>
      {{/unless}}
    </div>
    <!-- Cupos -->
    <div class="item">
      {{#unless isEditingCapacity}}
        <i class="users icon"></i>
        <div class="content">
          {{capacity}}
          <a href="#"><i class="small edit capacity icon"></i></a>
        </div>
      {{else}}
        <!-- Edit input -->
        <div class="ui edit action input">
          <input type="number" name="wedit-capacity" value="{{capacity}}" min="1" max="50"/>
          <button class="ui teal icon save capacity button"><i class="check icon"></i></button>
        </div><br>
      {{/unless}}
    </div>
    <!-- Fecha -->
    <div class="item">
      {{#unless isEditingInitDate}}
        <i class="calendar icon"></i>
        <div class="content initDate">
          {{styleDate initDate}}
            <a href="#"><i class="small edit initDate icon"></i></a>
        </div>
      {{else}}
        <!-- Edit input -->
        <div class="ui edit action input">
          <!-- <label>Fecha inicial</label> -->
          <div class="ui calendar" id="initDate">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" name="wedit-initDate" value="{{initDate}}">
            </div>
          </div>
        </div><br>
      {{/unless}}
    </div>    
    <div class="item">
      <div class="ui grid">
        <div class="eight wide column">
          <!-- Hora de inicio -->
          {{#unless isEditingInitTime}}
            <div class="initTime">
            <i class="time icon"></i>
              {{formatTime initTime}}
              <a href="#"><i class="small edit initTime icon"></i></a>
            </div>
          {{else}}
            <!-- Edit input -->
            <div class="ui small edit action input">
              <!-- <label>Fecha inicial</label> -->
              <div class="ui calendar" id="initTime">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" name="wedit-initTime" value="{{initTime}}">
                </div>
              </div>
            </div><br>
          {{/unless}}
        </div>
        <div class="eight wide column">
          <!-- Hora de finalización -->
          {{#unless isEditingEndTime}}
            <div class="endTime">
              <i class="time icon"></i>
              {{formatTime endTime}}
              <a href="#"><i class="small edit endTime icon"></i></a>
            </div>
          {{else}}
            <!-- Edit input -->
            <div class="ui small edit action input">
              <!-- <label>Fecha inicial</label> -->
              <div class="ui calendar" id="endTime">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" name="wedit-endTime" value="{{endTime}}">
                </div>
              </div>
            </div><br>
          {{/unless}}
        </div>
      </div>      
    </div>
  </div>
  {{/with}}
</template>