.ui.card {
  margin: auto;
}

.ui.card .image .info {
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin: 10px 15px;
  text-align: right;
  color: white;
}

.ui.card .image .info a .avatar.image {
  background: white;
}

.ui.card h5.ui.teal.header {
  font-size: 12.2px;
  margin-top: 2px;
}

.workshop.name {
  display: inline;
  margin-left: 5px;
}

.workshop.price {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 10px 15px;
  color: white;
}

.ui.card .dates.content {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.ui.card .ui.teal.button {
  margin-top: 13px;
}
