<template name="navbar">
  <div id="navbar" class="ui secondary menu">
    <a href="/" class="item">
      <h1 class="ui header" id="logo">Meetin</h1>
    </a>
    <div class="right menu">
      {{#unless currentUser}}
      <a class="ui item">
        <button class="ui login button">Iniciar sesión</button>
      </a>
      <a class="ui item">
        <button class="ui teal signup button">Regístrate</button>
      </a>
      {{else}}
        {{> userNavbar}}
      {{/unless}}
    </div>
  </div>

  {{#unless currentUser}}
  {{> loginModal}}
  {{> signupModal}}
  {{/unless}}
</template>
