<template name="navbar">
  <div id="navbar" class="ui {{profile}} secondary menu">
    <a href="/" class="item">
      <img class="ui small image" src="/logo.svg" alt="Meet-in">
    </a>
    <div class="right menu">
      {{#unless currentUser}}
      <a class="ui item">
        <button class="ui inverted login button">Iniciar sesión</button>
      </a>
      <a class="ui item">
        <button class="ui teal signup button">Registrarse</button>
      </a>
      {{else}}
        {{> userNavbar}}
      {{/unless}}
    </div>
  </div>

  {{#unless currentUser}}
  {{> loginModal}}
  {{> signupModal}}
  {{/unless}}
</template>
