<template name="userDashboard">
  <div class="dashboard">
    {{#with getWorkshopsToday}}
    <h3 class="ui dividing header">Eventos hoy!</h3>
    <div class="ui four link cards">
      {{#each this}}
        {{> workshopCard id=this}}
      {{/each}}
    </div>
    {{/with}}
  </div>
  <div class="dashboard">
    {{#with currentUser.profile.attendsTo}}
    <h3 class="ui dividing header">Eventos a los que asistirás</h3>
    <div class="ui four link cards">
      {{#each this}}
        {{> workshopCard id=this}}
      {{/each}}
    </div>
    {{/with}}
    <br><br>
  </div>

  {{> generalDashboard}}
</template>
