@dark-blue-shade:  #031727;
@dark-blue:        #126872;
@aqua:             #0B877D;
@light-aqua:       #18C29C;
@light-aqua-high:  #88F9D4;

@light-red-orange: #f05f40;

.ui.light-aqua {
  background: @light-aqua;
}

.ui.dark-blue {
  background: @dark-blue;
  color: white;
}

.ui.light-red-orange {
  background: @light-red-orange;
}
