.main.container:not(.guest) {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

.main.container {
  padding-bottom: 50px;
}

.main.layout > .block {
  height: 57px;
  display: block;
}

.main.layout > .ui.container {
  padding-top: 87px;
}
