.main.layout {
  position: relative;

  min-height: 100%;
  // padding-top: 47px;
  padding-bottom: 65px;
}

.main.layout > *:not(a.ui.card) {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

#signupModal, #loginModal {
  width: 400px;
  margin: 0em 0em 0em -200px;
  padding: 10px 20px;
}

#signupModal h2, #loginModal h2 {
  margin-bottom: 30px;
}
