@import "../base/colors";

#navbar {
  margin-bottom: 0;
  position: absolute;
  z-index: 1000;
  width: 100.5%;
  color: @transparent-white !important;
  padding: 10px 10%;
}

#navbar.user {
  background: @dark-blue-shade;
  position: static !important;
}

#navbar.user .item {
  color: white;
}

.ui.secondary.menu .item {
  color: @transparent-white;
}

.ui.secondary.menu.scrolled {
  // background-color: rgba(255, 255, 255, 0.97) !important;
  background-color: rgba(2, 19, 31, 0.9);
  transition: background-color 200ms linear;
}

.ui.secondary.menu.scrolled .item {
  color: black!important;
}

.ui.teal.big.signup.right.floated.button {
  margin: 15px;
}

.ui.avatar.image {
  background-color: #f1f1f1;
}
#navbar i {
  margin-right: 0;
}

#navbar .ui.thumbnail.item {
  // background-color: @red;
}

#navbar .ui.thumbnail.item a {
  color: white;
  margin-left: 5px;
}


#navbar .ui.add.item {
  color: white;
  background-color: @aqua;
}
