@import "../base/colors";
// @import '{}/node_modules/semantic-ui-calendar/src/definitions/modules/calendar.less';

.main.workshop.container .ui.container {
  margin-bottom: 30px;
}

.workshop.info {
  margin-top: 10px;
}

.workshop-create {
  padding-bottom: 150px !important;
}

.ui.workshop.form .ui.segment {
  padding: 40px 5%;
}
